<!--==========================
  About Section
  ============================-->
<section id="about">
  <div class="container wow fadeInUp">
    <div class="row">
      <div class="col-md-12">
        <h3 class="section-title">About Us</h3>
        <div class="section-title-divider"></div>
        <p class="section-description">Welcome to Feet Foremost, find here information about us and the benefits of podiatry</p>
      </div>
    </div>
  </div>
  <div class="container about-container wow fadeInUp">
    <div class="row">



      <div class="col-md-12">
        <div class="col-md-12 about-img"></div>

      </div>

      <div class="col-md-6">


        <div class="col-md-12 about-content">


          <h4 align="center" class="about-title">What is Podiatry?</h4>
          <p class="about-text">
            Podiatry is Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius voluptatibus cumque suscipit esse at deleniti
            voluptatem earum soluta corporis quod excepturi tempore, aut autem quas explicabo quos minus reprehenderit architecto?
            Consequatur, sapiente animi modi perspiciatis eaque laudantium deserunt corrupti id molestias iusto nesciunt,
            ratione atque optio labore ducimus inventore voluptate neque error, est quia odit ipsam doloribus? Quis, excepturi
            nemo?
          </p>
          <p class="about-text ">

            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus, dolorum accusantium ex perferendis adipisci atque
            minima? Nobis beatae voluptates consequuntur at quas omnis? Voluptas, amet! Facere reprehenderit quisquam ipsa
            vero consequuntur temporibus, libero esse amet ullam accusamus, deleniti impedit voluptatibus.


          </p>

        </div>
      </div>
      <div class="col-md-6">

        <div class="col-md-12 about-content">

          <h4 align="center" class="about-title ">Podiatry for your wellness</h4>
          <p class="about-text">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente, itaque. Nisi molestias perferendis quasi eligendi alias
            nam facilis, nulla soluta iusto quod harum a amet optio cum non placeat sed architecto sit eveniet ratione esse
            ab repudiandae. Tempore blanditiis natus architecto, error molestias sapiente aut quis perferendis eaque non
            facilis, asperiores cumque eius velit accusamus deleniti. Odio, ipsam excepturi? Reprehenderit!
          </p>

          <p class="about-text">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente, itaque. Nisi molestias perferendis quasi eligendi alias
            nam facilis, nulla soluta iusto quod harum a amet optio cum non placeat sed architecto sit eveniet
          </p>
        </div>
      </div>



    </div>


    <div class="row">
      <div class="col-md-12 top-buffer"></div>

      <div class="col-md-12 top-buffer"></div>

      <div class="col-md-6">


        <div class="col-md-12 about-content">


          <h4 align="center" class="about-title">The Feet Foremost Clinic</h4>

          <div class="col-md-12 about-img2 hidden-md hidden-lg"></div>


          <p class="about-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum obcaecati maiores porro ut possimus doloribus aperiam voluptatibus
            atque sapiente dolorem vel deleniti, dolores accusamus minima error culpa at repellendus deserunt voluptas. Non
            dignissimos iste commodi earum ipsa rerum, consequuntur at eos, quam rem magni obcaecati, quae vero velit quisquam
            sequi aut. Enim porro soluta sunt delectus tempora, a illum fugit.

          </p>
          <p class="about-text">

            Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus iste perspiciatis qui, voluptates deserunt, labore excepturi,
            aliquam dolorem molestiae odit illum molestias vitae nam. Quos dicta natus, provident, qui ipsam culpa, veritatis
            repudiandae rem non tempora totam ad voluptate distinctio aliquam nostrum dolore. Mollitia quam corrupti nesciunt,
            distinctio excepturi autem. Maiores soluta dicta molestiae accusamus quisquam aperiam eos hic explicabo.

          </p>


        </div>
      </div>

      <div class="col-md-6">
        <div class="col-md-12 about-img2 hidden-xs hidden-sm"></div>

      </div>




    </div>



  </div>
</section>