<!--==========================
  About Section
  ============================-->
<section id="about">
  <div class="container wow fadeInUp">
    <div class="row">
      <div class="col-md-12">
        <h3 class="section-title">About Us</h3>
        <div class="section-title-divider"></div>
        <p class="section-description">Thank you for visiting Feet Foremost. Here you will find information about us and how our podiatry service can help
          you to improve the health of your feet.</p>
      </div>
    </div>
  </div>
  <div class="container about-container wow fadeInUp">
    <div class="row">



      <div class="col-md-12">
        <div class="col-md-12 about-img"></div>

      </div>

      <div class="col-md-6">


        <div class="col-md-12 about-content">


          <h4 align="center" class="about-title">What is Podiatry?</h4>
          <p class="about-text">
            Podiatry is a branch of medicine specialising in disorder of the foot, ankle, lower limb and how these relate to posture
            and the gait cycle (process of walking). However, because disorder of the spine and hips are often connected
            to posture too, podiatrists have a much wider sphere of practice in the range of conditions they assess and treat.

          </p>
          <p class="about-text ">

            Podiatrists are registered to work in both the NHS and private practice. They follow a professional code of practice and
            are regulated by the Health and Care Professions Council.



          </p>

        </div>
      </div>
      <div class="col-md-6">

        <div class="col-md-12 about-content">

          <h4 align="center" class="about-title ">The Feet Foremost Clinic</h4>
          <p class="about-text">Feet Foremost was started by Daniel Newman in 1998 and has been run as a full time practice since 2016.
          </p>
          <div class="col-md-12 about-img2 hidden-md hidden-lg"></div>
          <p class="about-text">
            Daniel qualified as a podiatrist since 1993 and is both
            <a href="http://www.hcpc-uk.co.uk/search-results/search-details/?searchOption=1&search=newman&profession=CH&start=1&ID=12169">HCPC registered </a> and a member of the
            <a href="https://www.scpod.org/">Society of Chiropodists and Podiatrists</a>. He has developed a breadth of knowledge and experience over 25 years
            in both the NHS and private sectors. Within the NHS, Daniel worked in both clinical and management roles, specialising
            in minor surgery and high risk patients, including wound management and diabetic foot care. Daniel also oversaw
            the training and development of junior staff and degree programs students.
          </p>


        </div>
      </div>



    </div>


    <div class="row">
      <div class="col-md-12 top-buffer"></div>

      <div class="col-md-12 top-buffer"></div>

      <div class="col-md-6">


        <div class="col-md-12 about-content">


          <h4 align="center" class="about-title">Why choose us?</h4>




          <p class="about-text">
            Feet Foremost have
            <span style="text-decoration:underline;">over twenty years experience</span> in providing podiatry and foot care within Bromley and its surrounding boroughs.
            We aim to provide a comprehensive range of foot care solutions tailored to each patient’s needs and circumstances.
            From simple advice through to complex foot problems, we are here to help you. Feet Foremost has close respected
            links with other local health care professionals (including GPs, diabetologists, rheumatologists, pharmacists
            and physiotherapists, podiatric surgeons) who regularly refer their patients into our practice.</p>

          <div class="col-md-12 about-img3 hidden-md hidden-lg"></div>


          <p class="about-text">
            We offer a range of flexible options for your care:

            <ul>
              <li>
                Why not visit us at our brand new modern clinic in Shirley with its relaxing garden views and on-site easy parking and access.
              </li>
              <li>
                We can also provide podiatry care in the comfort of your own home should you prefer.
              </li>
              <li>
                With evening and Saturday morning availability for appointments, we also offer flexibility around your work and lifestyle
                commitments.
              </li>
            </ul>






          </p>
          <h5>Highest Clinical Standards</h5>
          <p class="about-text">
            Feet foremost are fully compliant in respect to professional requirements for:

            <ul>
              <li>
                Offering you the best informed options for care of your feet. We are committed to continued profession development within
                the practice.
              </li>
              <li>
                Sterility and cleanliness of equipment to eliminate cross infection risk. Our instruments are decontaminated and vacuum sterilized
                in sealed pouches. The clinic is cleaned between appointments.
              </li>
              <li>
                Data Protection and transparency. We are registered with the Information Commissioner’s Office (ICO) and have our own
                <a
                  href="/privacy"> data protection policy</a>.

              </li>
            </ul>




          </p>


        </div>
      </div>

      <div class="col-md-6">
        <div class="col-md-12 about-img2 hidden-xs hidden-sm"></div>
        <div class="col-md-12 about-img3 hidden-xs hidden-sm"></div>
      </div>




    </div>



  </div>
</section>