<div id="preloader"></div>

<!--==========================
  Hero Section
  ============================-->
<section id="hero">
  <div class="hero-container">
    <div class="wow fadeIn">
      {{!-- {{> header}} --}}
      <div class="hero-logo">
        <img class="" src="public/img/logo.png" alt="Feet foremost logo">
      </div>
      <h1>{{h1Title}}</h1>
      <h2>
        <span class="rotating">For your feet, For your health, For you</span>
      </h2>
      <div class="actions">
        <a href="#contact" class="btn-get-started">Get in touch</a>
        <a href="#services" class="btn-services">Treatments</a>
      </div>





    </div>
  </div>

  <p> {{msg}}</p>
</section>