<div id="preloader"></div>

<!--==========================
  Hero Section
  ============================-->
<section id="hero">
  <div class="hero-container">
    <div class="wow fadeIn">
      {{!-- {{> header}} --}}
      <div class="hero-logo">

        <img class="" src="public/img/logo.png" alt="Feet foremost logo">
      </div>
      <h1>{{h1Title}}</h1>
      <h2>
        <span class="">A passion for foot care</span>
      </h2>
      <div class="actions">
        <a href="#contact" class="btn-get-started">Get in touch</a>
        <a href="#services" class="btn-services">Treatments</a>
      </div>



      <div align="center" class="container">
        <div class="row" style="height: 30px;">
          <div class="col-lg-3 hidden-md hidden-xs hidden-sm">
            <span style="">Feet Foremost is registered with</span>
          </div>
        </div>
        <div class="row justify-content-end">
          <div class="col-lg-12 hidden-md hidden-xs hidden-sm">

            <div class="col-lg-1">
              <a target="_blank" href="">
                <img class="links" src="public/img/hcpc.jpg" style="width:100px;height:80px; margin: 5px 0" alt="Feet Foremost is part of the HCPC">
              </a>
            </div>
            <div class="col-lg-1">
              <a target="_blank" href="">
                <img class="links" src="public/img/theCollegeOfPodiatry.png" style="width:100px;height:80px; margin: 5px 12px;" alt="Feet Foremost is part of the College of Podiatry">
              </a>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>

  <p> {{msg}}</p>
</section>