<!--==========================
  Services Section
  ============================-->
<section id="howcanwehelp">
  <div class="container wow fadeInUp">
    <div class="row">
      <div class="col-md-12">
        <h3 class="section-title">How Can We Help You?</h3>
        <div class="section-title-divider"></div>
        <p class="section-description">Untreated foot problems can have a major impact on your mobility and self confidence. We want to help you.
          <b> Feet Foremost can treat all general problems of the foot, ankle and lower limb.</b> We provide a comprehensive
          range of foot care solutions tailored to each patient’s needs and circumstances.*</p>
      </div>
    </div>


    <div align="center">
      <h4>
        Foot problems we commonly see include:</h4>
    </div>


    <div class="col-md-12">


      <div align="center" class="col-xs-12 col-sm-3">
        <img src=" public/img/prob1.png" alt="Difficulty reaching or cutting toe nails ">
      </div>
      <div class="col-sm-9">
        <h4 class="service-title wow fadeInRight">
          Difficulty reaching or cutting thickened toe nails
        </h4>


        <p class="service-description">Feet Foremost provide a
          <b>comprehensive nail care service</b>. When thickened, toe nails can cause discomfort, be unsightly and difficult
          to manage. We discuss the causes of your condition and can reduce the nail thickness, producing a flat nail that
          looks and feels more normal.
        </p>
      </div>



    </div>

    <div class="line col-md-12"></div>


    <div class="col-md-12">

      <div align="center" class="col-sm-3">
        <img style="" src="public/img/prob2.png" alt="Hard skin and corns">
      </div>
      <div class="col-sm-9">
        <h4 class="service-title wow fadeInRight">
          Hard skin and corns
        </h4>


        <p class="service-description">Hard skin and corns usually occur over areas of pressure, rubbing or squeezing. They can be caused by the shape of
          your footwear and feet or simply the way that you walk. There are also some dermatological conditions that can
          create excessive hard skin too such as Psoriasis and hyperkeratosis. Feet Foremost
          <b>can gently remove and safely manage hard skin</b>, avoiding the effort and discomfort sometimes associated with
          self care.
        </p>


      </div>
    </div>

    <div class="line col-md-12"></div>
    <div class="col-md-12">

      <div align="center" class="col-sm-3">
        <img src="public/img/pedicure.jpg" alt="Medi Peri">
      </div>
      <div class="col-sm-9">
        <h4 class="service-title wow fadeInRight">
          Medical Pedicure (Medi Peri)</h4>
        <p class="service-description">Do you have aching, tired feet or unsightly dry skin with cracked heels? The why not pamper yourself with our one
          stop solution.
          <b>The Medi Pedi combines all the benefits of a luxury pedicure with professional podiatry care</b>. Our treatment
          starts with a luxurious foot spa containing nourishing skin conditioner. You then have your nails cut and shaped
          followed by a massage of the calf muscles and feet. The treatment ends with application of a deep penetrating skin
          cream to the legs and feet plus a medicated oil applied to the nails. {{!-- Medi Pedi rejuvenates tired and unsightly
          feet and Feet Foremost guarantees the best professional care instruments steam sterilized to avoid risk of bacterial,fungal
          and viral cross contamination and using the best products in podiatry. --}}
        </p>
      </div>
    </div>


    <div class="line col-md-12"></div>


    <div class="col-md-12">
      <div align="center" class="col-sm-3">
        <img src="public/img/prob6.png" alt="Nail Reconstruction (Aesthetics)">
      </div>
      <div class="col-sm-9">
        <h4 class="service-title wow fadeInRight">
          Nail Reconstruction (Aesthetics)
        </h4>


        <p class="service-description">Diseased and damaged nails cause many people to hide their feet out of embarrassment. Traditionally there have been
          very few options other than to file down the nail. Equally, artificial toe nails often look aesthetically poor.
          Now there is an exciting new option.
          <b>Feet Foremost are pleased to be able to offer
            <a href="Pedique">Pedique</a>.
          </b>
          <br/> Pedique is a gel resin system that is applied over the existing nail bed, covering irregular nail edges and creating
          a smooth surface. It’s shaped to match existing nails then hardened and cured with an ultra violet light. Pedique
          comes in a range of neutral colours for a natural look. Alternatively, it can be painted with normal nail varnish
          if preferred. The nail is hard wearing and should remain in place with normal daily activity. Pedique can be replaced
          as the nail grows out. In-fills can be applied as an option in the early stages.

        </p>


      </div>
    </div>
    <div class="line col-md-12"></div>
    <div class="col-md-12">

      <div align="center" class="col-sm-3">
        <img src="public/img/prob7.png" alt="Difficulty reaching or cutting toe nails">
      </div>
      <div class="col-sm-9">
        <h4 class="service-title wow fadeInRight">

          In-growing and painful nails:
        </h4>


        <p class="service-description"> In-growing and painful nail occurs when the sides of a nail press or grow into the underlying skin. For many people
          the condition is hereditary, though footwear, nail care, pregnancy and changes in foot shape may also be a factor.
          The condition can be extremely painful and may cause a localized infection. At Feet Foremost we gently
          <b>remove the portion of nail digging in and re shape the nail</b>. For chronic or recurrent episodes we can carry
          out a minor surgical procedure under local anaesthetic to permanently resolve the problem. We offer this as a package
          that includes your post-operative care. Healing usually takes three to four weeks and you can walk normally throughout
          with minimal disruption to your lifestyle.
        </p>
      </div>

    </div>

    <div class="line col-md-12"></div>
    <div class="col-md-12 ">

      <div align="center" class="col-sm-3">
        <img src="public/img/prob8.png" alt="In-growing and painful nails">
      </div>
      <div class="col-sm-9">
        <h4 class="service-title wow fadeInRight">Diabetic and foot assessment:</h4>


        <p class="service-description">
          Within feet, diabetes can effect blood circulation, and nerve function. For these reasons it is very important for diabetics
          to have their feet checked annually and know how to look after them. At Feet Foremost we offer a comprehensive
          diabetic foot care service. An initial assessment allows us to determine the health of the feet and identify any
          risk factors that require addressing. Factors reviewed include:
          <b>circulation and nerves within the feet</b>,
          <b>skin condition including hard skin, corns</b>,
          <b>fissures (cracks) and wounds</b>,
          <b>in-growing toe nails</b>;
          <b>foot shape</b>,
          <b>posture</b>,
          <b>footwear</b>.
          <br/> General health and additional lifestyle factors A tailor made treatment plan can then be provided to accommodate
          each person’s needs.


      </div>
    </div>


    <div class="line col-md-12"></div>



    <div class="col-md-12">


      <div align="center" class="col-sm-3">
        <img src="public/img/prob9.png" alt="Verrucae">
      </div>
      <div class="col-sm-9">
        <h4 class="service-title wow fadeInRight">Verrucae</h4>


        <p class="service-description">
          Also known as plantar warts, verruca are viral in origin (Human Papilloma Virus HPV) and typically occur under the feet and
          around the toes. They can spread as well as being unsightly and painful. Verrucae can be difficult to get rid of
          with self-treatment products alone. Our service can offer a
          <b>range of treatment options including chemical and cryotherapy (freezing)
          </b>. When appropriately targeted by a podiatrist, these treatments can be very effective.
        </p>

      </div>
    </div>
    <div class="line col-md-12"></div>
    <div class="col-md-12">

      <div align="center" class="col-sm-3">
        <img src="public/img/prob10.png" alt="Fungal toe nails">
      </div>
      <div class="col-sm-9">
        <h4 class="service-title wow fadeInRight">Fungal toe nails</h4>


        <p class="service-description">
          It is estimated that 60% of the population are walking around with fungal (mycotic) toe and finger nails. Weak and damaged
          nails can become easily infected if fungus builds up on feet and hands or is transmitted by contaminated nail tools.
          Therefore many patients may have a history of nail damage through playing sports or use of gel nails and pedicures.
          In some cases there is a strong family history of nail problems too. Over the counter products are not always effective
          for everybody. Podiatrist can offer comprehensive treatment and management of the condition. Feet Foremost provide
          a range of
          <b> fungal treatments and management options to eradicate the infection and improve the appearance of effected nails.
          </b>
        </p>


      </div>
    </div>
    <div class="line col-md-12"></div>
    <div class="col-md-12">

      <div align="center" class="col-sm-3">
        <img src="public/img/prob11.png" alt="Bunions (Hallux Valgus)">
      </div>
      <div class="col-sm-9">
        <h4 class="service-title wow fadeInRight">Bunions (Hallux Valgus)</h4>

        <p class="service-description">
          Bunions can be unsightly as well as cause pain and restrict choice of footwear. This condition involves enlargement of the
          big toe joint and sometimes the little toe joint too (known as a tailors bunion). Progression may vary from a small
          localized bump to angling of the big toe sideways, pushing the second toe upwards. Bunions can therefore effect
          the whole front of the foot. Pain can either occur from changes within the joint or from rubbing and squeezing
          over the bump. The condition is mainly hereditary but can be influenced by factors such as weight, pregnancy and
          footwear. Feet foremost has a range of practical solutions for management of discomfort and can advise and help
          in limiting the progression of the deformity with
          <b>footwear</b> and
          <b>orthotic management</b>. Where appropriate we can also advise and direct you surgical options.
        </p>


      </div>
    </div>


    <div class="line col-md-12"></div>

    <div class="col-md-12">

      <div align="center" class="col-sm-3">
        <img src="public/img/prob12.png" alt="Soft tissue Conditions">
      </div>
      <div class="col-sm-9">
        <h4 class="service-title wow fadeInRight">Soft tissue Conditions</h4>


        <p class="service-description">
          This is a collective name that covers a range conditions including:



          <br/>- Forefoot Pain (Metatarsalgia)
          <br/>- Arch Pain (Plantar Fasciitis)
          <br/>- Heel Pain
          <br/>- Achillies Tendon Pain
          <br/>- Ankle Pain
          <br/>- Lower Leg Pain
          <br/>These problems are commonly seen in practice and can occur spontaneously or as a result of over use or injury.
          Feet Foremost treat both the symptoms and any underlying causes to prevent re occurrence of the problem. A biomechanical
          assessment may be undertaken to look at posture, walking and any joint motion issues. Treatments may involve
          <b>physical therapies</b>,
          <b>bandaging</b>,
          <b>splinting</b> and
          <b>padding</b> of the areas as well as stretch, mobility exercises and orthotic management.
        </p>


      </div>
    </div>
    <div class="line col-md-12"></div>
    <div class="col-md-12 " style="margin-bottom:40px;">

      <div align="center" class="col-md-3">
        <img src="public/img/prob13.png" alt="Biomechanical Assessment and Orthotics">
      </div>
      <div class="col-sm-9">
        <h4 class="service-title wow fadeInRight">Biomechanical Assessment and Orthotics</h4>


        <p class="service-description">
          <b>Biomechanical assessment examines the function of joints and structures through a range of your usual daily activities
            including standing, walking, running</b>. It also takes into account any particular sports you may undertake.
          The assessment not only examines the foot and lower limb, but also your knees, hips and spine since they all work
          together in a collective chain of movement. Feet Foremost use the results from their assessment to diagnose and
          formulate a treatment plan. The plan may involve exercises or modifying your exercise or sporting regime as well
          as devices to support or stretch structures during activity. We may also issue prescription orthotic devises which
          can help realign the body during posture and activity. Unlike ‘off the shelf’ high street products,
          <b>our orthotic devices are specifically designed for your individual needs</b>. We have a flexible range price options
          including both pre and custom made devices depending on your needs and budget.
        </p>


      </div>
    </div>








  </div>


</section>